.toodo-list__search{
    margin-bottom: 16px;
}

.toodo-list__filters .toodo-list__sort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.toodo-list__form {
    display: flex;
}

.toodo-list__input {
    border-radius: 4px;
    height: 20px;
    width: 100%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: content-box;
}

.toodo-list__button {
    border-radius: 4px;
    height: 20px;
    width: 100px;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-size: 12px;
}

.toodo-list__button--filter, .toodo-list__button--sort{
    width: 30%;
}



.toodo-list__button--filter-active, .toodo-list__button--sort-active{
    background-color: rgba(27, 5, 5, 0.349);

}

.toodo-list__button--delete {
    width: 20px;
    color: white;
    background-color: #c0392b;
}

.toodo-list__button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.toodo-list__button--delete:hover {
    background-color: #e74c3c;
}

.toodo-list__list-item {
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
}

.toodo-list__list-item--wrapper {
    display: flex;
    justify-content: space-between;

}

.toodo-list__list-item--complited .toodo-list__list-item--textContainer {
    text-decoration: line-through;
}